
/* Login.css */
.signin {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('../../admin/src/assets/images/backgroundimg.jpg') no-repeat center center/cover !important;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    width: 350px;
}


h2 {
    color: white ;
    margin-bottom: 20px;
}

.input-container input {
    width: 110%;
    padding: 10px;
    margin: 8px 0;
    background-color: rgba(255, 255, 255, 0.2); /* Adjusted for subtle transparency */
    border: none; /* Remove border */
    border-radius: 30px;
    color: #424040;
    font-size: 12px;
    outline: none; /* Remove outline */
}

.input-container input::placeholder {
    color: #424040;
}

.input-container input:focus {
    border: none; /* Ensure no border appears on focus */
    outline: none; /* Ensure no outline appears on focus */
}

.login-button {
    width: 110%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Green color for the button */
    border: none;
    border-radius: 30px;
    color: #424040;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
}

.options {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 12px;
    margin-top: 15px;
}

.options a {
    color: #a8d0e6;
    text-decoration: none;
}
